<footer class="bg">
  <div class="container d-flex justify-content-between align-items-center flex-md-column">
    <div class="footer">
      <a class="footer-link" href="#">
        <img class="footer-logo mb-10 mb-md-6" src="../assets/images/logo.svg" alt="logo">
      </a>
      <p class="footer-description fz-5 mb-6">若有數位產品設計和開發相關問題
        歡迎填寫表單，或直接與我聯絡！
      </p>
      <a class="footer-email mb-10" href="mailto:service@hexschool.com">service@hexschool.com</a>
    </div>
    <ul class="steps-list">
      <li class="steps-list-item mb-6 active">
        <a class="fz-5 pt-2 pb-2 pl-6 pr-6 steps-text steps-list-text-active" href="#">
          <img class="steps-icon" src="../assets/images/list.svg" alt="icon">
          <span>填寫表單</span>
        </a>
      </li>
      <li class="steps-list-item mb-6">
        <a class="fz-5 pt-2 pb-2 pl-6 pr-6 steps-list-text" href="#">
          <img class="steps-icon" src="../assets/images/instagram.svg" alt="icon">
          <span>hexschool_demo</span>
        </a>
      </li>
      <li class="steps-list-item">
        <a class="fz-5 pt-2 pb-2 pl-6 pr-6 steps-list-text" href="#">
          <img class="steps-icon" src="../assets/images/facebook.svg" alt="icon">
          <span>hexschoolTW</span>
        </a>
      </li>
    </ul>
  </div>
</footer>