<header class="container d-flex align-items-center justify-md-between">
  <a href="#">
    <img class="logo" src="../assets/images/logo.svg" alt="logo">
  </a>
  <ul class="menu d-flex d-md-block">
    <li class="mr-10 mr-md-0 mt-md-10 mb-md-6 list-text">
      <a class="d-md-inblock menu-link fz-md-5 pb-1 pl-2 pt-1 pr-2" href="../pages/index.html">
        <span class="border_corner border-corner-top-left"></span>
        <span class="border_corner border-corner-top-right"></span>
        <span class="border_corner border-corner-bottom-left"></span>
        <span class="border_corner border-corner-bottom-right"></span>
        首頁</a>
    </li>
    <li class="mr-10 mr-md-0 mb-md-6 list-text">
      <a class="d-md-inblock menu-link fz-md-5 pb-1 pl-2 pt-1 pr-2" href="../pages/work.html">        
        <span class="border_corner border-corner-top-left"></span>
        <span class="border_corner border-corner-top-right"></span>
        <span class="border_corner border-corner-bottom-left"></span>
        <span class="border_corner border-corner-bottom-right"></span>作品集</a>
    </li>
    <li class="mr-10 mr-md-0 mb-md-6 list-text">
      <a class="d-md-inblock menu-link fz-md-5 pb-1 pl-2 pt-1 pr-2" href="../pages/service.html">
        <span class="border_corner border-corner-top-left"></span>
        <span class="border_corner border-corner-top-right"></span>
        <span class="border_corner border-corner-bottom-left"></span>
        <span class="border_corner border-corner-bottom-right"></span>
        服務項目</a>
    </li>
    <li class="mr-10 mr-md-0 mb-md-6 list-text">
      <a class="d-md-inblock menu-link fz-md-5 pb-1 pl-2 pt-1 pr-2" href="#">
        <span class="border_corner border-corner-top-left"></span>
        <span class="border_corner border-corner-top-right"></span>
        <span class="border_corner border-corner-bottom-left"></span>
        <span class="border_corner border-corner-bottom-right"></span>
        部落格</a>
    </li>
    <li class="mb-md-10 mb-md-6 list-text">
      <a class="d-md-inblock menu-link fz-md-5 pb-1 pl-2 pt-1 pr-2" href="#">
        <span class="border_corner border-corner-top-left"></span>
        <span class="border_corner border-corner-top-right"></span>
        <span class="border_corner border-corner-bottom-left"></span>
        <span class="border_corner border-corner-bottom-right"></span>
        聯絡我</a>
    </li>
  </ul>
  <a href="#" class="d-none d-md-flex align-items-center hambuger">
    <span class="material-symbols-outlined js-hambuger fz-1">menu</span>
  </a>
</header>

<!-- <h1 class="header">我是 header</h1> -->
<!-- <a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->