// 文字大小
// $fs-1: 40px;
// $fs-2: 32px;
// $fs-3: 28px;
// $fs-4: 24px;
// $fs-5: 20px;
// $fs-6: 16px;

$display-1: 72px;
$display-2: 48px;

$fontSize-types: (
  1: 40px,
  2: 32px,
  3: 28px,
  4: 24px,
  5: 20px,
  6: 16px,
) !default;

@each $val, $size in $fontSize-types {
  .fz-#{$val} {
    font-size: $size;
  }
}
@include pad {
  @each $val, $size in $fontSize-types {
    .fz-md-#{$val} {
      font-size: $size;
    }
  }
}
@include mobile {
  @each $val, $size in $fontSize-types {
    .fz-sm-#{$val} {
      font-size: $size;
    }
  }
}
// 顏色
$primary-50: #ffffff;
$primary-100: #FAFAFA;
$primary-200: #F1F1F1;
$primary-300: #E9E9E9;
$primary-400: #C1C1C1;
$primary-500: #919191;
$primary-600: #5B5B5B;
$primary-700: #3B3B3B;
$primary-800: #1E1E1E;
$primary-900: #000000;

// //間距大小
// $spacer-1: 4px;
// $spacer-2: 8px;
// $spacer-3: 12px;
// $spacer-4: 16px;
// $spacer-5: 20px;
// $spacer-6: 24px;
// $spacer-7: 28px;
// $spacer-8: 32px;
// $spacer-9: 36px;
// $spacer-10: 40px;


$spacer: 4px;
$spacer-types: () !default;

@for $i from 0 through 20 {
  $spacer-types: map-merge($spacer-types, ($i: $spacer * $i));
}
@each $name, $spacer in $spacer-types {
  .m-#{$name} {
    margin: $spacer;
  }
  .mt-#{$name} {
    margin-top: $spacer;
  }
  .mb-#{$name} {
    margin-bottom: $spacer;
  }
  .ml-#{$name} {
    margin-left: $spacer;
  }
  .mr-#{$name} {
    margin-right: $spacer;
  }
  .p-#{$name} {
    padding: $spacer;
  }
  .pt-#{$name} {
    padding-top: $spacer;
  }
  .pb-#{$name} {
    padding-bottom: $spacer;
  }
  .pl-#{$name} {
    padding-left: $spacer;
  }
  .pr-#{$name} {
    padding-right: $spacer;
  }
}

@include pad {
  @each $name, $spacer in $spacer-types {
    .mt-md-#{$name} {
      margin-top: $spacer;
    }
    .mb-md-#{$name} {
      margin-bottom: $spacer;
    }
    .ml-md-#{$name} {
      margin-left: $spacer;
    }
    .mr-md-#{$name} {
      margin-right: $spacer;
    }
    .pt-md-#{$name} {
      padding-top: $spacer;
    }
    .pb-md-#{$name} {
      padding-bottom: $spacer;
    }
    .pl-md-#{$name} {
      padding-left: $spacer;
    }
    .pr-md-#{$name} {
      padding-right: $spacer;
    }
  }
}

@include mobile {
  @each $name, $spacer in $spacer-types {
    .mt-sm-#{$name} {
      margin-top: $spacer;
    }
    .mb-sm-#{$name} {
      margin-bottom: $spacer;
    }
    .ml-sm-#{$name} {
      margin-left: $spacer;
    }
    .mr-sm-#{$name} {
      margin-right: $spacer;
    }
    .pt-sm-#{$name} {
      padding-top: $spacer;
    }
    .pb-sm-#{$name} {
      padding-bottom: $spacer;
    }
    .pl-sm-#{$name} {
      padding-left: $spacer;
    }
    .pr-sm-#{$name} {
      padding-right: $spacer;
    }
  }
}