.bg{
  background-image: url('../images/footer-bg-lg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  @include pad(){
    background-image: url('../images/footer-bg-sm.png');
    padding: 40px 0;
  }
}
.footer{
  width: 300px;
  @include pad(){
    width: 100%;
    text-align: center;
  }
  &-logo{
    @include pad(){
      width: 120px;
    }
  }
  &-link{
    // font-size: $fs-5;
    @include pad(){
      display: inline;
    }
  }
  &-email{
    color: $primary-500;
    
  }
}
.steps-list{
  width: 306px;
  &-text{
    color: $primary-700;
    &-active{
      color: $primary-50;
      background-color: $primary-900;
    }
  }
  &-item{
    border-radius: 8px;
    border: 1px solid #C1C1C1;
    &.active{
      background-color: $primary-900;
    }
  }
  &-icon{
    width: 56px;
    height: 56px;
    margin-right: 8px;
  }
}