<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>首頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <section class="introduction">
      <div class="introduction-inner container">
        <div class="d-flex flex-md-column-reverse text-md-center flex-md-wrap">
          <div class="description d-md-block pt-md-10 pb-md-10">
            <div class="description-slogan">
              <h1 class="description-slogan-title fz-1 mb-6 font-bold">Hi！我是 Noel</h1>
              <p class="description-slogan-content mb-4 fz-5">具有 10 年經驗的<br class="d-none d-md-block"><span class="work-img-border-bottom">資深 UI 設計師</span>兼<span class="work-img-border-bottom">前端工程師</span>
                <br class="d-none d-md-block">技術雙修並行，<br class="d-none d-md-block">熱衷於優化使用者的網頁體驗</p>
              <span class="mb-15 mb-md-6 d-block hashtag">
                WEB DEVELOPMENT / BRANDING / UI / UX / APP DESIGN
              </span>
              <ul class="social d-flex justify-md-center">
                <li>
                  <a href="#">
                      <img src="../assets/images/instagram.svg" alt="instagram-icon">
                  </a>
                </li>
                <li>
                  <a href="#">
                      <img src="../assets/images/facebook.svg" alt="facebook-icon">
                  </a>
                </li>
                <li>
                  <a href="#">
                      <img src="../assets/images/youtube.svg" alt="youtube-icon">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- <img class="introduction-bg" src="../assets/images/hero-lg.png" alt="introduction-bg"> -->
          <div class="introduction-bg">
          </div>
        </div>
      </div>
    </section>
    <div class="work-introl pt-">
      <div class="title-lg d-flex justify-content-center align-items-center">
        <h2 class="fz-2 ml-4 mr-4 d-flex justify-content-center align-items-center fz-2 fz-md-4">
          <span class="deco-line deco-left"></span>
          作品介紹
          <span class="deco-line deco-right"></span>
        </h2>
      </div>
      <section class="work-intro" style="background-image:url('../assets/images/homepage-work1-bg.png');background-repeat: no-repeat;background-size: cover;">
        <div class="work-intro-content container d-flex align-items-center flex-row-reverse justify-content-between flex-md-wrap flex-md-column flex-md-column-reverse">
          <!-- <div class="description-right d-flex align-items-center d-md-block">
          flex-md-wrap flex-md-column flex-md-column-reverse  
          -->
            <div class="description-text d-flex flex-column d-md-none">
                <div class="list-content p-10  description-content mb-10 mb-md-0 align-md-items-center">
                  <h3 class="fz-3 list-content-title font-bold mb-2">星際旅行訂票平台</h3>
                    <h4 class="mb-6 text-white">悠遊宇宙的夢想，從這裡開始實現</h4>
                    <div class="tags d-flex mb-10 tags d-flex mb-10 mb-md-5 justify-md-center">
                      <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">網頁設計</span>
                      <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">響應式設計</span>
                      <span class="tags-bg pt-1 pb-1 pl-3 pr-3">Bootstrap</span>
                    </div>
                </div>
                <a class="more-btn d-flex justify-content-between align-items-center text-center pt-4 pb-4 pl-8 pr-8" href="#">
                  <span class="more-btn-text fz-5">完整介紹</span>
                  <span class="material-symbols-outlined">
                    arrow_forward
                  </span></a>
            </div>
          <!-- </div> -->
          <div class="d-flex flex-column justify-content-end h-100">
            <img src="../assets/images/homepage-work1.png" alt="">
          </div>
        </div>
      </section>
      <div class="description-text2 d-none d-md-block container">
        <div class="list-content p-0  description-content mb-12 align-md-items-center" style="color: black;text-align: center;">
          <h3 class="fz-3 fz-sm-5 list-content-title font-bold mb-2">星際旅行訂票平台</h3>
            <h4 class="mb-4">悠遊宇宙的夢想，從這裡開始實現</h4>
            <div class="tags d-flex mb-10 tags d-flex mb-5 justify-md-center">
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">網頁設計</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">響應式設計</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">Bootstrap</span>
            </div>
            <div class="d-flex justify-content-center">
              <a class="more-btn d-flex justify-content-between align-items-center text-center pt-4 pb-4 pl-8 pr-8" href="#">
                <span class="more-btn-text fz-5">完整介紹</span>
                <span class="material-symbols-outlined">
                  arrow_forward
                </span></a>
            </div>
        </div>
    </div>
      <section class="work-intro2"
        style="background-image:url('../assets/images/homepage-work2-lg.png');height: 800px;position: relative;background-position: bottom;">
        <div class="d-flex flex-md-column container" style="height: 100%;">
          <div class="mark d-md-none">
          </div>
            <div class="work-intro2-content">
              <div class="test1 d-flex align-items-center d-md-none">
                <div class="description-right d-flex align-items-center">
                  <div class="description-text">
                    <div class="list-content p-10 d-flex flex-column description-content mb-10 mb-md-0">
                      <h3 class="fz-3 list-content-title font-bold mb-2">理財APP</h3>
                        <h4 class="mb-6 text-white">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</h4>
                        <div class="tags d-flex mb-10">
                          <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">APP設計</span>
                          <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">iOS</span>
                          <span class="tags-bg pt-1 pb-1 pl-3 pr-3">React</span>
                        </div>
                    </div>
                    <a class="more-btn d-flex justify-content-between align-items-center text-center pt-4 pb-4 pl-8 pr-8" href="#">
                      <span class="more-btn-text fz-5">完整介紹</span>
                      <span class="material-symbols-outlined">
                        arrow_forward
                      </span></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <div class="test1 d-none d-md-block container">
        <!-- <div class="description-right d-flex align-items-center"> -->
          <div class="description-text2">
            <div class="list-content p-0 d-flex flex-column description-content mb-10 mb-md-0 text-center" style="color:black ;">
              <h3 class="fz-3 fz-sm-5 list-content-title font-bold mb-2">理財APP</h3>
                <h4 class="mb-4">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</h4>
                <div class="tags d-flex mb-10 mb-md-5 justify-content-center">
                  <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">APP設計</span>
                  <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">iOS</span>
                  <span class="tags-bg pt-1 pb-1 pl-3 pr-3">React</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-12">
              <a class="more-btn d-flex justify-content-between align-items-center text-center pt-4 pb-4 pl-8 pr-8" href="#">
                <span class="more-btn-text fz-5">完整介紹</span>
                <span class="material-symbols-outlined">
                  arrow_forward
                </span></a>
            </div>
          </div>
        <!-- </div> -->
      </div>
       <section class="work-intro3"
        style="background-image:url('../assets/images/homepage-work3-bg.png');height: 800px;position: relative;background-position: right;">
        <div class="mark">
          <div class="work-intro3-content container d-flex align-items-center flex-row-reverse justify-content-between justify-md-center flex-md-column">
              <div class="description-text d-md-none">
                <div class="list-content p-10 d-flex flex-column description-content mb-10">
                  <h3 class="fz-3 list-content-title font-bold mb-2">醫美診所官網</h3>
                    <h4 class="mb-4 text-white">永保青春的秘密，從粹究開始</h4>
                    <div class="tags d-flex mb-10">
                      <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">網頁設計</span>
                      <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">響應式設計</span>
                      <span class="tags-bg pt-1 pb-1 pl-3 pr-3">ＷordPress</span>
                    </div>
                </div>
                <a class="more-btn d-flex justify-content-between align-items-center text-center pt-4 pb-4 pl-8 pr-8" href="#">
                  <span class="more-btn-text fz-5">完整介紹</span>
                  <span class="material-symbols-outlined">
                    arrow_forward
                  </span></a>
              </div>
              <img src="../assets/images/homepage-work3.png" alt="">
          </div>
        </div>
      </section>
      <div class="description-text3 d-none d-md-block container text-center">
        <div class="list-content p-0 d-flex flex-column description-content mb-10 mb-md-0" style="color: black;">
          <h3 class="fz-3 list-content-title font-bold mb-2">醫美診所官網</h3>
            <h4 class="mb-4">永保青春的秘密，從粹究開始</h4>
            <div class="tags d-flex justify-content-center mb-10 mb-md-5 ">
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">網頁設計</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3 mr-4">響應式設計</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">ＷordPress</span>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-20">
          <a class="more-btn d-flex justify-content-between align-items-center text-center justify-md-center pt-4 pb-4 pl-8 pr-8" href="#">
            <span class="more-btn-text fz-5">完整介紹</span>
            <span class="material-symbols-outlined">
              arrow_forward
            </span></a>
        </div>
      </div>

    </div>
    <section class="service">
      <div class="container text-center">
        <div class="title-lg">
          <h2 class="fz-2">
            <span class="deco-line deco-left"></span>
            服務項目
            <span class="deco-line deco-right"></span>
          </h2>
        </div>
        <ul class="service-list d-flex justify-content-between flex-wrap">
          <li class="service-list-item d-flex flex-column text-white align-items-center justify-content-center mb-md-6">
            <div class="service-list-content text-center">
                <img class="mb-6" src="../assets/images/service-item-visual.svg" alt="visual">
                <span class="fz-3 font-bold d-block">平面設計</span>
            </div>
          </li>
          <li class="service-list-item d-flex flex-column text-white align-items-center justify-content-center mb-md-6">
            <div class="service-list-content text-center">
              <img class="mb-6" src="../assets/images/service-item-ui.svg" alt="ui">
              <span class="fz-3 font-bold d-block">UI設計</span>
            </div>
          </li>
          <li class="service-list-item d-flex flex-column text-white align-items-center justify-content-center mb-md-0 mb-sm-6">
            <div class="service-list-content text-center">
              <img class="mb-6" src="../assets/images/service-item-html&css.svg" alt="htnl">
              <span class="fz-3 font-bold d-block">切版服務</span>
            </div>
          </li>
          <li class="service-list-item d-flex flex-column text-white align-items-center justify-content-center mb-md-0">
            <div class="service-list-content text-center">
              <img class="mb-6" src="../assets/images/service-item-front-end.svg" alt="frontend">
              <span class="fz-3 font-bold d-block">前端開發</span>
            </div>
          </li>
        </ul>
        <p class="fz-3 fz-md-5 mb-10">想要合作或瞭解更多？</p>
        <div class="d-flex justify-content-center">
          <a style="width: 276px;" class="more-btn d-flex justify-content-between align-items-center text-center pt-4 pb-4 pl-8 pr-8" href="#">
            <span class="more-btn-text fz-5 fz-md-6">詳細內容與合作流程</span>
            <span class="material-symbols-outlined">
              arrow_forward
            </span></a>
        </div>
      </div>
    </section>
    <section class="hot container">
      <div class="title-lg d-flex justify-content-center align-items-center">
        <h2 class="fz-2 ml-4 mr-4 d-flex justify-content-center align-items-center fz-2 fz-md-4">
          <span class="deco-line deco-left"></span>
          精選文章
          <span class="deco-line deco-right"></span>
        </h2>
      </div>
      <!-- <ul class="relativeArticle-list relativeArticle-list2 d-flex flex-sm-wrap">
        <li class="mr-4 mr-sm-0 mb-md-0 mb-sm-12 d-md-flex flex-md-column">
          <img class="mb-4" src="../assets/images/article-image1.png" alt="article-image1">
          <h3 class="mb-4 font-bold fz-5">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h3>
          <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
            <span>2024/02/10</span>
            <span class="tags-bg pt-1 pb-1 pl-3 pr-3">UI/UX 新知</span>
          </div>
        </li>
        <li class="mr-4 mr-sm-0 d-md-flex flex-md-column mb-md-12">
          <img class="mb-4" src="../assets/images/article-image2.png" alt="article-image2">
          <h3 class="mb-4 font-bold fz-5">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (下)</h3>
          <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
            <span>2023/11/20</span>
            <span class="tags-bg pt-1 pb-1 pl-3 pr-3">UI/UX 新知</span>
          </div>
        </li>
        <li class="d-md-flex flex-md-column mb-md-12">
          <img class="mb-4" src="../assets/images/article-image3.png" alt="article-image3">
          <h3 class="mb-4 font-bold fz-5">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (上)</h3>
          <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
            <span>2023/10/18</span>
            <span class="tags-bg pt-1 pb-1 pl-3 pr-3">UI/UX 新知</span>
          </div>
        </li>
      </ul> -->
      <div class="swiper mySwiper">
        <ul class="swiper-wrapper mb-10">
          <li class="swiper-slide mr-4 mr-sm- mb-md-0 mb-sm-12 d-md-flex flex-md-column">
            <img class="mb-4" src="../assets/images/article-image1.png" alt="article-image1">
            <h3 class="mb-4 font-bold fz-5">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h3>
            <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
              <span>2024/02/10</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">UI/UX 新知</span>
            </div>
          </li>
          <li class="swiper-slide mr-4 mr-sm- d-md-flex flex-md-column mb-sm-12">
            <img class="mb-4" src="../assets/images/article-image2.png" alt="article-image2">
            <h3 class="mb-4 font-bold fz-5">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (下)</h3>
            <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
              <span>2023/11/20</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">UI/UX 新知</span>
            </div>
          </li>
          <li class="swiper-slide d-md-flex flex-md-column mb-sm-12">
            <img class="mb-4" src="../assets/images/article-image3.png" alt="article-image3">
            <h3 class="mb-4 font-bold fz-5">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (上)</h3>
            <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
              <span>2023/10/18</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">UI/UX 新知</span>
            </div>
          </li>
          <li class="swiper-slide d-md-flex flex-md-column mb-sm-12">
            <img class="mb-4" src="../assets/images/article-image4.png" alt="article-image4">
            <h3 class="mb-4 font-bold fz-5">虛擬實境 (VR) 介面設計對使用者沈浸感影響的研究</h3>
            <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
              <span>2023/09/20</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">數位產品設計</span>
            </div>
          </li>
          <li class="swiper-slide d-md-flex flex-md-column mb-sm-12">
            <img class="mb-4" src="../assets/images/article-image5.png" alt="article-image5">
            <h3 class="mb-4 font-bold fz-5">想打到目標受眾？先讓設計師跟你都瞭解他們痛在哪！</h3>
            <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
              <span>2023/08/10</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">數位產品設計</span>
            </div>
          </li>
          <li class="swiper-slide d-md-flex flex-md-column mb-sm-12">
            <img class="mb-4" src="../assets/images/article-image6.png" alt="article-image6">
            <h3 class="mb-4 font-bold fz-5">React vs. Vue，哪種前端框架比較好用？從三大面向談起</h3>
            <div class="blog-date d-flex align-items-center justify-content-between flex-row-reverse">
              <span>2023/07/03</span>
              <span class="tags-bg pt-1 pb-1 pl-3 pr-3">前端開發</span>
            </div>
          </li>
        </ul>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination"></div>
      </div>
      <div class="d-none d-sm-block">
        <a style="width: 276px;margin: 0 auto;" class="more-btn d-flex justify-content-between align-items-center text-center pt-4 pb-4 pl-8 pr-8" href="#">
          <span class="more-btn-text fz-5 fz-md-6">更多文章</span>
          <span class="material-symbols-outlined">
            arrow_forward
          </span></a>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 16,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        // breakpoints: {
        //   // when window width is >= 320px
        //   // when window width is >= 480px
        //   320: {
        //     slidesPerView: 2,
        //     spaceBetween: 0
        //   },
        // }
      });
    </script>
      <script type="module" src="../main.js"></script>

</body>

</html>